<p>education-screen works!</p>


<div>

  <!--  window-->
  <div style="width: 70vw;height:150vh;background-color: #888888">

    <div class="flexBox" style="width: 100%;text-align: center">
      <div style="flex: 1; background-color: red;width: 100%">
        01/04/2020 - 01/12/2022
      </div>
      <div style="flex:1; background-color: green;width: 100%">
        Master of Science, Elektro- und Informationstechnik
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Ruhr-Universität Bochum
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Bochum
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Ich habe dies das geamcht
      </div>
    </div>


    <div class="flexBox" style="width: 100%;text-align: center">
      <div style="flex: 1; background-color: red;width: 100%">
        01/05/2022 - 31/10/2022
      </div>
      <div style="flex:1; background-color: green;width: 100%">
        Masterarbeit
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Universidad Nacional de Colombia
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Bogotá, Kolumbien
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Thema: Investigation and Comparison of AI-based methods for GPR
        Target Classification using Simulator Driven Training Data
      </div>
    </div>



    <div class="flexBox" style="width: 100%;text-align: center">
      <div style="flex: 1; background-color: red;width: 100%">
        01/10/2016 - 01/12/2019
      </div>
      <div style="flex:1; background-color: green;width: 100%">
        Bachelor of Science, Elektro- und Informationstechnik
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Ruhr-Universität Bochum
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Bochum
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Bachelor's Thesis: Dynamic Indoor-Localization: Sensorfusion with the EKF
      </div>
    </div>


    <div class="flexBox" style="width: 100%;text-align: center">
      <div style="flex: 1; background-color: red;width: 100%">
        01/01/2020 - 01/06/2020
      </div>
      <div style="flex:1; background-color: green;width: 100%">
        Auslandsaufenthalt
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Universidad del País Vasco
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Bilbao, Spanien
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        2 Sprachkurse, Projektmanagement
      </div>
    </div>




    <div class="flexBox" style="width: 100%;text-align: center">
      <div style="flex: 1; background-color: red;width: 100%">
        01/08/2014 - 01/01/2016
      </div>
      <div style="flex:1; background-color: green;width: 100%">
        Ausbildung zum Einzelhandelskaufmann
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Tedi GmbH & Co. KG
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Castrop-Rauxel
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        ja so war das
      </div>
    </div>



    <div class="flexBox" style="width: 100%;text-align: center">
      <div style="flex: 1; background-color: red;width: 100%">
        01/09/2005 - 01/07/2013
      </div>
      <div style="flex:1; background-color: green;width: 100%">
        Abitur
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Adalbert-Stifter-Gymnasium
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Castrop-Rauxel
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        ja so war das
      </div>
    </div>



  </div>


</div>
