<p>projects-screen works!</p>

<div>

  <!--  window-->
  <div style="width: 70vw;height:150vh;background-color: #888888">


    <div class="flexBox" style="width: 100%;text-align: center">
      <div style="flex: 1; background-color: red;width: 100%">
        01/10/2021 - 01/02/2022
      </div>
      <div style="flex:1; background-color: green;width: 100%">
        Materialdatenbank
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Privat
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Ich habe dies das geamcht
      </div>
    </div>



    <div class="flexBox" style="width: 100%;text-align: center">
      <div style="flex: 1; background-color: red;width: 100%">
        01/05/2021 - 01/08/2022
      </div>
      <div style="flex:1; background-color: green;width: 100%">
        Social Media Plattform
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Privat
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Ich habe dies das geamcht
      </div>
    </div>

    <div class="flexBox" style="width: 100%;text-align: center">
      <div style="flex: 1; background-color: red;width: 100%">
        01/08/2018 - 01/12/2018
      </div>
      <div style="flex:1; background-color: green;width: 100%">
        Planung und Entwicklung eines Musikspielers auf Basis on RFID-Technologie
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Privat
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Ich habe dies das geamcht
      </div>
    </div>


    <div class="flexBox" style="width: 100%;text-align: center">
      <div style="flex: 1; background-color: red;width: 100%">
        01/10/2021 - 01/02/2022
      </div>
      <div style="flex:1; background-color: green;width: 100%">
        Materialdatenbank
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Privat
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Ich habe dies das geamcht
      </div>
    </div>


  </div>


</div>
