<p>work-experience-screen works!</p>

<div>

<!--  window-->
  <div style="width: 70vw;height:150vh;background-color: #888888">

    <div class="flexBox" style="width: 100%;text-align: center">
      <div style="flex: 1; background-color: red;width: 100%">
        01/12/22 - Heute
      </div>
      <div style="flex:1; background-color: green;width: 100%">
        IT-Produktmanager
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Mobene GmbH & Co. KG
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Essen
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Ich habe dies das geamcht
      </div>
    </div>



    <div class="flexBox" style="width: 100%;text-align: center">
      <div style="flex: 1; background-color: red;width: 100%">
        01/08/21 - 30/04/2022
      </div>
      <div style="flex:1; background-color: green;width: 100%">
        Adesso SE
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Dortmund
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Software Engineer
      </div>
    </div>


    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Ich habe dies das geamcht
      </div>
    </div>



    <div class="flexBox" style="width: 100%;text-align: center">
      <div style="flex: 1; background-color: red;width: 100%">
        01/04/22 - 31/07/2021
      </div>
      <div style="flex:1; background-color: green;width: 100%">
        Adesso SE
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Barcelona
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Produktmanagement
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Ich habe dies das geamcht
      </div>
    </div>



    <div class="flexBox" style="width: 100%;text-align: center">
      <div style="flex: 1; background-color: red;width: 100%">
        01/10/17 - 30/03/2021
      </div>
      <div style="flex:1; background-color: green;width: 100%">
        Adesso SE
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Dortmund
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Produktmanagement
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Ich habe dies das geamcht
      </div>
    </div>



    <div class="flexBox" style="width: 100%;text-align: center">
      <div style="flex: 1; background-color: red;width: 100%">
        01/10/16 - 30/09/2017
      </div>
      <div style="flex:1; background-color: green;width: 100%">
        QVC Handel S.à r.l. & Co. KG
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Bochum
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Costumer Care Service
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Ich habe dies das geamcht
      </div>
    </div>



    <div class="flexBox" style="width: 100%;text-align: center">
      <div style="flex: 1; background-color: red;width: 100%">
        01/02/16 - 30/09/2016
      </div>
      <div style="flex:1; background-color: green;width: 100%">
        Valora Holding AG
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Herne
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Einzelhandelskaufmann
      </div>
    </div>

    <div class="flexBox">
      <div style="flex: 1">

      </div>
      <div style="flex: 1">
        Ich habe dies das geamcht
      </div>
    </div>




  </div>

</div>
